<form action="/user/{{user.id}}/edit_psw" method="POST">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" id="password1" name="password" onkeyup="validate()">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="password2">Repeat password</label>
                <input type="password" class="form-control" id="password2" onkeyup="validate()">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" id="pswchange" disabled class="btn btn-primary">Submit</button>
        </div>
        <div class="col">
            <input type="checkbox" id="show" onchange="toggleHidden()">
            <span>Show?</span>
        </div>
    </div>
    <script>
        var input1 = document.getElementById("password1")
        var input2 = document.getElementById("password2")
        var button = document.getElementById("pswchange")
        var check = document.getElementById("show")

        function validate(){
            if(input1.value === input2.value && input1.value.length>0){
                button.disabled=false
            }
            else{
                button.disabled=true
            }
        }

        function toggleHidden(){
            if(show.checked){
                input1.type="text"
                input2.type="text"
            }
            else{
                input1.type="password"
                input2.type="password"
            }
        }
    </script>
</form>