{% if user %}

{% extends "stampo.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
  <h3 class="display-3">Welcome back, {{user.username}}!</h3>
</div>
{% if user.isAdmin %}
<a class="btn btn-dark" href="{{ url_for('.list_client') }}">Client management</a>
<a class="btn btn-dark" href="{{ url_for('.user_list') }}">User management</a>
<hr>
{% endif %}

<h4>Account data</h4>
<form action="/user/{{user.id}}/edit" method="POST">
  <div class="row">
    <div class="col">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" value="{{user.username}}">
  </div>
    </div>
    <div class="col">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="{{user.email}}">
  </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{user.name}}">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" name="surname" value="{{user.surname}}">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>
{% include 'account_recovery/passwordchange.html' %}
{% endblock %}


{% else %}
{% include 'login.html' %}
{% endif %}

